<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/static/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Game</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>

    <div class="container">
        <!-- Content here -->
        

        <div id="app">
           
            <button @click="getGameStatus">Get game status</button>
            Player Name: <input type="text" v-model="playerName">
            <input type="button" value="Create Game" @click="btnCreateGame">
            <div>
                Active Game ID: {{activeGameID}} Player ID: {{activePlayerID}}    
            </div>            

            <div>
                <div v-for="game in gameList">
                    {{game.gameName}} ({{game.hostPlayerName}}) - {{game.gameID}} <a href="#" @click="joinGame(game.gameID)">Join</a>
                </div>
            </div>

            <div>
                Wood: {{player.wood}} Food: {{player.food}}
                <table>
                    <tr v-for="person in peopleList">
                        <td>{{person.gender}} {{person.role}}</td>
                    </tr>
                </table>

                <h3>Other Players</h3>
                <ul>
                    <li v-for="otherPlayer in otherPlayers">{{otherPlayer}}</li>
                </ul>
            </div>

            <h1>Map</h1>
            <div style="position:relative;width:500px;height:500px;border:1px solid black">
                <div v-for="gameObject in gameObjects" v-bind:style="{position:'absolute',backgroundColor:getTileColor(gameObject.type),left:gameObject.x*5+'px',top:gameObject.y*5+'px',width:'5px',height:'5px'}">
                </div>
                <div v-for="person in people" v-bind:style="{position:'absolute',backgroundColor:'blue',left:person.x*5+'px',top:person.y*5+'px',width:'5px',height:'5px'}">
                </div>
            </div>
        </div>
    </div>
      
    

    <script>
    const { createApp } = Vue

    createApp({
        setup() {
            const playerName = Vue.ref("");
            const activeGameID = Vue.ref(-1);
            const activePlayerID = Vue.ref(-1);
            const openGames = Vue.ref([]);
            const player = Vue.ref({});
            const people = Vue.ref([]);
            const otherPlayers = Vue.ref([]);
            const gameObjects = Vue.ref([]);
        

            function btnCreateGame() {
                axios
                    .post('/game/create',{
                        playerName: playerName.value
                    })
                    .then(response => { openGames.value.push(response.data); })
                    .catch(error => { console.log(error); });
            }

            function joinGame(gameId) {
                axios.post('/game/join',{
                    playerName: playerName.value,
                    gameId: gameId
                })
                .then(function(response) {
                    activeGameID.value = gameId;
                    activePlayerID.value = response.data.playerID;
                    window.setInterval(() => {getGameStatus();},1000)
                });
            }
            
            function getGameStatus() {
                let self = this;

                axios.get('/game/' + activeGameID.value + '/' + activePlayerID.value + '/status')
                .then(function(response){
                    player.value = response.data.player
                    people.value = response.data.people
                    otherPlayers.value = response.data.otherPlayers
                    gameObjects.value = response.data.gameObjects
                });
            }

            function getTileColor(tileChar) {
                if(tileChar == "T") return "green"
                if(tileChar == "S") return "gray"
                if(tileChar == "B") return "red" // berry
                return "white"
            }

            return {
                playerName,
                activeGameID,
                activePlayerID,
                openGames,
                player,
                people,
                otherPlayers,
                gameObjects,
                btnCreateGame,
                joinGame,
                getGameStatus,
                getTileColor
            };
        },
        computed: {
            gameList() {
                return this.openGames;
            },
            peopleList() {
                return this.people;
            }
            
        },
        mounted: function() {
            let self = this;

            axios.get('/game/games')
            .then(function(response) {
                console.log(response)
                if (response.data.games !== null) {
                    self.openGames.value = response.data.games
                }
                
            })

            
        }
    }).mount('#app')
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/static/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>

